.tevekenyseg-square {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(241, 241, 241);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 30px;
    transition: .6s;
    height: 0px;
}

.dropdown-content a {
    color: rgb(22, 22, 22);
    padding: 0px 10px;
    text-decoration: none;
    display: block;
    text-align: start;
    font-size: .8em;
    background-color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.tevekenyseg-square:hover .dropdown-content {
    display: block;
}
@media screen and (max-width: 992px) {
    .dropdown-content {
        position: relative;
        font-size: 1.2em;
        line-height: 50px;
    }
}