html,
body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

.menu {
    height: 60px;
    line-height: 60px;
    text-align: justify;
}

.menu-container {
    position: fixed;
    background-color: rgb(246, 246, 246);
    color: rgb(29, 29, 29) !important;
    font-size: .9em;
    transition: .2s;
    z-index: 3;
}
.menu-label{
    transition: .6s;
}
.menu-label:hover{
    box-shadow: inset 50vh 0 0 0 #2b2b2bc6;
    color: rgb(234, 234, 234) !important;
}
a {
    text-decoration: none;
}

a:link {
    color: rgb(234, 234, 234);
}

a:visited {
    color: rgb(234, 234, 234);
}

a:hover {
    color: rgb(234, 234, 234);
}

a:active {
    color: rgb(234, 234, 234);
}

.slider {
    position: absolute;
    z-index: -1;
    width: 100%;
    overflow: hidden;
}

.bg-images {
    height: 750px;
    width: 100vw;
    object-fit: cover;
    object-position: center;
    opacity: .7;
}

.header-text {
    font-size: .9em;
    color: rgb(234, 234, 234);
}

.header-images-content {
    padding-top: 150px !important;
    color: rgb(234, 234, 234);
}

.row-us-works {
    color: rgb(211, 211, 211);
    background-color: rgb(30, 30, 30);
    height: 450px;
    padding-top: 1px;
    overflow: hidden;
}

.row-gallery-line {
    color: rgb(234, 234, 234);

    background: url('../images/pexels-jiyoung-kim-4513940.jpg') rgb(255, 195, 41);
    background-position: 40% 40%;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    height: 250px;

}

.row-about-us {
    padding: 50px 0px;
}

.row-about-us-images {

    background-position: 40% 40%;
    background-size: cover;
    background-blend-mode: multiply;

    width: 100%;
    height: 150px;
}

.slider-split {
    width: 100%;
    height: 250px;
    background: url('../images/slide-splitter.jpg') rgb(255, 195, 41);
    background-position: 30% 35%;
    background-size: cover;
    background-blend-mode: multiply;
}

.references {
    height: 100%;
}

.logo {
    width: 180px;
}

.gallery {
    background-color: rgba(248, 248, 248, 0.982);
    padding: 0px 15px;
    top: 20%;
    position: fixed;
    width: 90%;
    height: 500px;
    margin-left: -2000px;
    transition: .6s;
    opacity: 0;
    box-shadow: 1px 3px 9px 3px rgba(0, 0, 0, 0.55);
}

.gallery-images {
    width: 150px;
    transition: .2s;
}

.gallery-images:hover {
    opacity: .9;
    cursor: pointer;
}

.close-images {
    font-size: 1.2em;
    cursor: pointer;
    text-align: end;

}

.header-icons {
    font-size: 1.3em;
    transition: 1s;
    color: white;
}

.header-icons>a:hover {
    color: rgb(255, 195, 41)
}

.hamburger-icon {
    font-size: 2em !important;
    text-align: end;
}

.facebook-btn {
    border: 0px solid #fff;
    border-radius: 4px;
    background-color: #4267B2;
    color: white;
    text-align: center;
    font-size: 1.8em;
    transition: .3s;
}
.facebook-btn:hover{
    opacity: .9;
}

.instagram-btn {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    transition: .3s;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    font-size: 50px;
    border: 0px solid #fff;
    border-radius: 4px;
}
.instagram-btn:hover{
    opacity: .9;
}
.responsive-menu{
    width: 90%;
    position: fixed;
    z-index: 101;
    right: -150%;
    background-color: rgb(243, 243, 243);
    top: 60px;
    transition: .6s;
    color: black !important;
}

.responsive-menu>a{
    line-height: 20px !important;
}

@media screen and (max-width: 992px) and (min-width: 767px) {
    .menu-container {
        top: 0%;
    }

    .gallery {
        overflow: scroll;

    }

    .header-icons {
        font-size: 1.5em;
    }

    .slider-split {
        position: relative;
        background-size: 350% auto;
        background-position: 35% 40%;
        margin-top: 300px;
        position: relative;
    }
    .row-us-works{
        height: 800px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .slider-split {
        background-size: 250% auto;
        margin-top: 370px;
    }
}
@media screen and (min-width: 1201px) {
    .slider-split {
        margin-top: 380px;
    }
}
@media screen and (max-width: 766px){
    .menu-container {
        top: 0%;
    }
    .slider-split {
        background-size: 250% auto;
        background-position: 35% 40%;
        background-repeat: none;
        position: relative;
        margin-top: 240px;
        height: 250px;
        z-index: -1;
    }
    .gallery {
        overflow: scroll;
    }
    .row-us-works{
        height: 800px;
    }
    .header-icons {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 992px) {
    .menu-container {
        top: 0%;
    }
    .responsive-menu{
        display: none;
    }
}